.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 48px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #0d6efd;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9998;
  display: none;
  transition: transform 0.3s ease;
}

.scroll-top-btn:hover {
  transform: scale(1.1);
}
@media (max-width: 576px) {
  .scroll-top-btn {
    bottom: 20px;
    right: 28px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}